{% extends 'base.html' %}

{% block title %}Password Reset Email Sent - Event Management System{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Password Reset Email Sent</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    </div>
                    
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Back to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 